# export any method name that doesn't start with a full stop
exportPattern("^[^\\.]")
importFrom("utils", "read.table", "write.table")
#import("utils")
import("GenomicRanges")
import("IRanges")
import("S4Vectors")
# import(methods)
import("BiocGenerics")
import("R.utils")
import("RUnit")
#importClassesFrom("S4Vectors", "Hits")
# importMethodsFrom(GenomicRanges, as.matrix)
# importMethodsFrom("BiocGenerics", "testPackage")
